@charset "UTF-8";
@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Cormorant;
  font-display: swap;
  src: url("../fonts/Cormorant-SemiBold.woff2") format("woff2"), url("../fonts/Cormorant-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.slider-btn::after, .btn_arr::after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-whatsapp:before {
  content: "\e902";
}

._icon-mail:before {
  content: "\e903";
}

._icon-maps:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-time:before {
  content: "\e906";
}

._icon-arr-bm:before {
  content: "\e907";
}

._icon-arr-s:before {
  content: "\e908";
}

._icon-arr-next:before {
  content: "\e909";
}

._icon-arr-prev:before {
  content: "\e90a";
}

._icon-close:before {
  content: "\e90b";
}

:root {
  --main-color-text: #ffffff;
  --dark-color-text: #29261D;
  --main-color: #956469;
  --accent-color: #D6BF7C;
  --light-accent-color: #CB8790;
  --btn-color-hover: #29261D;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: var(--main-color-text);
  line-height: 1.7;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Montserrat;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  transition: all 0.3s ease 0s;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
@media (min-width: 767.98px) {
  body {
    font-size: 1.8rem;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #956469;
  position: relative;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

::selection {
  background: #CB8790; /* Цвет фона */
  color: #fff;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 1700px;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 15px;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

.btn {
  background-color: #fff;
  color: #956469;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  min-height: 47px;
  border-radius: 81px;
  padding: 10px 20px;
  gap: 10px;
  font-weight: 600;
  border: 1px solid #956469;
  -webkit-appearance: none;
  -webkit-border-radius: 81px;
}
.btn_arr {
  border: 1px solid #fff;
}
.btn_arr::after {
  content: "\e908";
  font-size: 1.6rem;
}
@media (min-width: 767.98px) {
  .btn_arr {
    gap: 34px;
    font-size: 2.4rem;
    padding: 10px 43px 10px 64px;
    min-height: 66px;
  }
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--light-accent-color);
    color: rgb(248, 249, 198);
  }
}
.btn:active {
  background-color: var(--light-accent-color);
  color: rgb(248, 249, 198);
}
@media (any-hover: hover) {
  .btn_arr:hover {
    border: 1px solid var(--light-accent-color);
  }
}
.btn_arr:active {
  border: 1px solid var(--light-accent-color);
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.53);
  backdrop-filter: blur(4.9000000954px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 0;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 767.98px) {
  .popup {
    padding: 45px;
  }
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  font-family: Cormorant;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 680px;
  color: #29261D;
  border-radius: 8px;
  padding: 20px 15px;
}
@media (min-width: 767.98px) {
  .popup__content {
    padding: 26px 20px;
  }
}
@media (min-width: 1279.98px) {
  .popup__content {
    padding: 20px;
    max-width: 946px;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.popup__title {
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media (min-width: 767.98px) {
  .popup__title {
    font-size: 3.4rem;
  }
}

.popup__close::before {
  font-size: 25px;
}

.table-price__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
}
.table-price__main-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.12;
  text-transform: uppercase;
}
@media (min-width: 767.98px) {
  .table-price__main-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1279.98px) {
  .table-price__main-title {
    font-size: 2.6rem;
  }
}
.table-price__title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.12;
}
@media (min-width: 767.98px) {
  .table-price__title {
    font-size: 1.8rem;
  }
}
@media (min-width: 1279.98px) {
  .table-price__title {
    font-size: 2.6rem;
  }
}
.table-price__column {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 767.98px) {
  .table-price__column {
    gap: 10px;
  }
}
.table-price__price {
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}
@media (min-width: 1279.98px) {
  .table-price__price {
    font-size: 3.4rem;
  }
}
.table-price__btn {
  padding: 7px 11px;
  font-family: Montserrat;
  font-size: 1rem;
  min-height: 31px;
}
@media (min-width: 767.98px) {
  .table-price__btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 1279.98px) {
  .table-price__btn {
    font-size: 1.6rem;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] picture,
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] picture,
[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  text-align: center;
  font-family: Cormorant;
  font-size: 3.4rem;
  line-height: 1.12;
  font-weight: 400;
}
@media (min-width: 767.98px) {
  .title {
    font-size: 6.5rem;
  }
}

.circle,
.line {
  position: relative;
}
.circle::before,
.line::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.circle::before {
  transform: translate(-55%, -50%);
  width: 139%;
  aspect-ratio: 35/9;
  background-image: url("../img/decor/circle.svg");
  top: 50%;
}

.line::before {
  transform: translateX(-50%);
  width: 139%;
  aspect-ratio: 31/2;
  background-image: url("../img/decor/line.svg");
  bottom: -8px;
}

.arc {
  border-radius: 250px 250px 0px 0px;
  overflow: hidden;
}

.tel {
  line-height: normal;
  font-weight: 400;
}
@media (min-width: 767.98px) {
  .tel {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.socials {
  display: flex;
  gap: 3px;
}
@media (min-width: 767.98px) {
  .socials {
    gap: 20px;
  }
}
.socials__link {
  color: var(--accent-color);
}
.socials__link::before {
  font-size: 25.9px;
}
@media (min-width: 600px) {
  .socials__link::before {
    font-size: 35.2px;
  }
}

.slider-btn {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .slider-btn:hover {
    opacity: 0.7;
  }
}
.slider-btn::after {
  font-size: 24px;
}
@media (min-width: 767.98px) {
  .slider-btn::after {
    font-size: 52px;
  }
}
.slider-btn_prev::after {
  content: "\e90a";
}
.slider-btn_next::after {
  content: "\e909";
}

.header {
  padding: 15px 0 19px;
}
@media (min-width: 767.98px) {
  .header {
    padding: 38px 25px;
  }
}
@media (min-width: 1279.98px) {
  .header {
    padding: 20px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1279.98px) {
  .header__container {
    max-width: 1670px;
  }
}
.header a {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .header a:hover {
    opacity: 0.7;
  }
}
.header__main {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 600px) {
  .header__main {
    gap: 20px;
  }
}
.header__column {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: end;
}
@media (min-width: 600px) {
  .header__column {
    gap: 11px;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 991.98px) {
  .header__column {
    gap: 20px;
  }
}
.logo__image {
  width: 91px;
  aspect-ratio: 241/75;
}
@media (min-width: 375px) {
  .logo__image {
    width: 147px;
  }
}
@media (min-width: 767.98px) {
  .logo__image {
    width: 171px;
  }
}
@media (min-width: 991.98px) {
  .logo__image {
    width: 241px;
  }
}

.lang {
  position: relative;
}
.lang__btn {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
  border-radius: 45px;
  border: 1px solid var(--main-color-text);
  padding: 5px;
  font-size: 1rem;
  line-height: 1.7;
}
.lang__btn::before {
  transition: all 0.3s ease 0s;
}
@media (min-width: 375px) {
  .lang__btn {
    gap: 10px;
    padding: 4px 10px;
  }
}
@media (min-width: 767.98px) {
  .lang__btn {
    font-size: 1.6rem;
    padding: 10px 20px;
  }
}
@media (min-width: 991.98px) {
  .lang__btn {
    padding: 10px 20px;
    font-weight: 600;
  }
}
.lang_open .lang__btn::before {
  transform: rotate(180deg);
}
.lang__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding-top: 5px;
  display: grid;
  gap: 5px;
  transform: translateY(-15px);
  transition: all 0.3s ease 0s;
}
.lang_open .lang__list {
  opacity: 1;
  pointer-events: visible;
  transform: translateY(0);
}
.lang__item {
  text-align: center;
  font-size: 1rem;
}
@media (min-width: 767.98px) {
  .lang__item {
    font-size: 1.6rem;
  }
}
@media (hover: hover) {
  .lang__item {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .lang__item:hover {
    opacity: 0.7;
  }
}

.footer {
  background-color: #29261D;
  padding: 20px 0;
}
@media (min-width: 767.98px) {
  .footer {
    padding: 50px 0;
  }
}
.footer a {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .footer a:hover {
    opacity: 0.7;
  }
}
.footer__top {
  padding: 10px 10px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media (min-width: 767.98px) {
  .footer__top {
    padding: 10px 30px 39px;
  }
}
@media (max-width: 479.98px) {
  .footer__logo .logo__image {
    width: 91px;
  }
}
.footer__main {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media (min-width: 767.98px) {
  .footer__main {
    gap: 20px;
  }
}
.footer__tel {
  font-size: 1.1rem;
}
@media (min-width: 375px) {
  .footer__tel {
    font-size: 1.4rem;
  }
}
@media (min-width: 767.98px) {
  .footer__tel {
    font-size: 1.8rem;
  }
}
.footer__bottom {
  border-top: 1px solid #fff;
  padding-top: 17px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .footer__bottom {
    padding-top: 32px;
  }
}
@media (min-width: 1279.98px) {
  .footer__bottom {
    padding-top: 61px;
    max-width: 1493px;
    margin: 0 auto;
  }
}
.footer__copy {
  font-size: 1.2rem;
}
@media (min-width: 767.98px) {
  .footer__copy {
    font-size: 1.8rem;
  }
}

.promo {
  padding-top: 10px;
  padding-bottom: 32px;
}
@media (min-width: 767.98px) {
  .promo {
    padding-bottom: 24px;
  }
}
@media (min-width: 1279.98px) {
  .promo {
    padding-top: 100px;
    padding-bottom: 102px;
    position: relative;
  }
  .promo::before {
    content: "";
    display: block;
    width: 33.3333333333%;
    aspect-ratio: 335/167;
    background-color: var(--light-accent-color);
    border-radius: 200px 200px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 180deg;
    transform: translate(-9%, -41%);
    max-width: 335px;
  }
}
.promo__container {
  position: relative;
}
.promo__container::before {
  content: "";
  display: block;
  width: 33.3333333333%;
  aspect-ratio: 335/167;
  background-color: var(--light-accent-color);
  border-radius: 200px 200px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  rotate: 180deg;
  transform: translate(38%, 7%);
}
@media (min-width: 1279.98px) {
  .promo__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .promo__container::before {
    max-width: 335px;
    width: 33.3333333333%;
    left: 50%;
    transform: translate(49%, -3%);
  }
}
.promo__content {
  display: grid;
  justify-items: center;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .promo__content {
    margin-bottom: 52px;
  }
}
@media (min-width: 1279.98px) {
  .promo__content {
    justify-items: start;
    text-align: left;
    padding-left: 95px;
    padding-top: 35px;
    position: relative;
  }
}
.promo__title {
  font-family: Cormorant;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.12;
  margin-bottom: 24px;
}
@media (min-width: 767.98px) {
  .promo__title {
    font-size: 7.5rem;
  }
}
@media (min-width: 1279.98px) {
  .promo__title {
    margin-bottom: 62px;
  }
}
@media (min-width: 1700px) {
  .promo__title {
    font-size: 9.5rem;
  }
}
.promo__text {
  max-width: 81.1594202899%;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
@media (min-width: 1279.98px) {
  .promo__text {
    font-size: 2.4rem;
    margin-bottom: 47px;
  }
}
.promo__slider {
  margin: 0 -15px;
  padding: 0 15px;
}
@media (min-width: 767.98px) {
  .promo__slider {
    padding: 0 7px;
  }
}
@media (min-width: 991.98px) {
  .promo__slider {
    margin: 0 -110px 0 0;
    padding: 0;
  }
}
.promo__swiper {
  display: flex;
  margin-bottom: 8px;
}
@media (min-width: 767.98px) {
  .promo__swiper {
    margin-bottom: 17px;
  }
}
.promo__slide {
  width: 44.5217391304%;
  aspect-ratio: 205/307;
}
@media (min-width: 767.98px) {
  .promo__slide {
    width: 41.577540107%;
  }
}
@media (min-width: 1279.98px) {
  .promo__slide {
    width: 43%;
  }
}
.promo__slide-image {
  width: 100%;
}
.promo__slider-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1279.98px) {
  .promo__slider-nav {
    position: relative;
    justify-content: start;
    gap: 40px;
  }
}

.desc {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F3ECE2;
  color: var(--dark-color-text);
}
@media (min-width: 767.98px) {
  .desc {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1279.98px) {
  .desc {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1279.98px) {
  .desc__container {
    display: grid;
    grid-template-columns: 1fr 853px;
    position: relative;
  }
  .desc__container::before {
    content: "";
    display: block;
    width: 33.3333333333%;
    aspect-ratio: 335/167;
    background-color: var(--light-accent-color);
    border-radius: 200px 200px 0 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    rotate: 324deg;
    transform: translate(-28%, 94%);
    max-width: 304px;
  }
}
.desc__image {
  border-radius: 550px 550px 0px 0px;
  aspect-ratio: 344/321;
}
@media (min-width: 1279.98px) {
  .desc__image {
    position: absolute;
    z-index: -1;
    width: 52.2%;
    top: 50%;
    left: 0;
    transform: translate(15%, -50%);
  }
}
@media (min-width: 1279.98px) {
  .desc__content {
    padding: 117px 66px 33px;
    grid-area: 1/2/2/3;
  }
}
.desc__body-wrapper {
  padding: 0 6px;
  margin-bottom: 10px;
  position: relative;
}
@media (min-width: 767.98px) {
  .desc__body-wrapper {
    padding: 0 10px;
  }
}
@media (min-width: 1279.98px) {
  .desc__body-wrapper {
    padding: 0;
    margin-bottom: 38px;
  }
}
.desc__body {
  margin-top: -40px;
  background-color: #fff;
  padding: 20px 10px;
}
.desc__body > *:not(:last-child) {
  margin-bottom: 7px;
}
@media (min-width: 767.98px) {
  .desc__body {
    margin-top: -341px;
    padding: 55px 45px 48px;
  }
  .desc__body > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1279.98px) {
  .desc__body {
    margin-top: 0;
    padding: 57px 36px 54px;
  }
}
.desc__title {
  font-family: Cormorant;
  font-size: 3.4rem;
  line-height: 1.12;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 767.98px) {
  .desc__title {
    font-size: 4rem;
    font-family: Montserrat;
  }
}
.desc__subtitle {
  color: #9D7D78;
  font-size: 1.6rem;
}
@media (min-width: 767.98px) {
  .desc__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 767.98px) {
  .desc__text {
    font-size: 2rem;
  }
}
.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
}
@media (min-width: 767.98px) {
  .advantages {
    gap: 40px;
    padding: 0 20px;
  }
}
@media (min-width: 1279.98px) {
  .advantages {
    padding: 0;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__item-image {
  text-align: center;
  background-color: #D6BF7C;
  padding: 20px 0 15px;
  width: calc(100% - 14px);
}
@media (min-width: 767.98px) {
  .advantages__item-image {
    padding: 44px 0 30px;
    width: calc(100% - 34px);
  }
}
.advantages__item-image img {
  width: 55px;
  height: 55px;
}
@media (min-width: 767.98px) {
  .advantages__item-image img {
    width: 90px;
    height: 90px;
  }
}
.advantages__item-title {
  font-size: 0.8rem;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 7px 2px 5px;
}
@media (min-width: 375px) {
  .advantages__item-title {
    font-size: 1rem;
  }
}
@media (min-width: 767.98px) {
  .advantages__item-title {
    font-size: 1.8rem;
    padding: 10px 5px 12px;
  }
}

.examples {
  padding-top: 17px;
  padding-bottom: 23px;
}
@media (min-width: 767.98px) {
  .examples {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1279.98px) {
  .examples {
    padding-top: 155px;
    padding-bottom: 122px;
  }
}
@media (min-width: 1279.98px) {
  .examples__container {
    display: grid;
    align-items: start;
    grid-template-columns: 468px 1fr;
    gap: 67px;
  }
}
.examples__title {
  margin-bottom: 50px;
}
@media (min-width: 1279.98px) {
  .examples__title {
    font-family: Montserrat;
    font-size: 7.6rem;
    font-weight: 400;
    color: #F3ECE2;
    align-self: center;
    text-align: left;
    line-height: 126.517%;
    padding-left: 15px;
  }
}
.examples__slider {
  margin: 0 -15px;
  padding: 0 15px;
}
@media (min-width: 1279.98px) {
  .examples__slider {
    margin: 0 -110px 0 0;
    padding: 0;
  }
}
.examples__swiper {
  margin-bottom: 14px;
  display: flex;
}
.examples__slide {
  width: 49.2753623188%;
  aspect-ratio: 170/169;
}
@media (min-width: 1279.98px) {
  .examples__slide {
    width: 28.4469096672%;
  }
}
.examples__slider-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.examples__slider-nav .slider-btn::after {
  font-size: 70px;
}
@media (min-width: 1279.98px) {
  .examples__slider-nav {
    justify-content: start;
  }
}
.services {
  background-color: #F3ECE2;
  color: var(--dark-color-text);
  padding-top: 50px;
  padding-bottom: 87px;
}
@media (min-width: 767.98px) {
  .services {
    padding-top: 58px;
  }
}
@media (min-width: 1279.98px) {
  .services {
    padding-top: 124px;
    padding-bottom: 165px;
  }
}
.services__title {
  margin-bottom: 20px;
}
.services__title .circle::before {
  width: 179%;
  transform: translate(-50%, -50%);
}
@media (min-width: 767.98px) {
  .services__title {
    font-family: Montserrat;
    font-size: 6.5rem;
    margin-bottom: 25px;
  }
}
@media (min-width: 1279.98px) {
  .services__title {
    margin-bottom: 91px;
  }
}
.services__list {
  margin: 0 -6px;
  display: grid;
  gap: 57px 10px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
@media (min-width: 767.98px) {
  .services__list {
    margin: 0;
    padding: 0 9px;
    gap: 50px 10px;
  }
}
@media (min-width: 1279.98px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1500px) {
  .services__list {
    padding: 0 42px;
    gap: 77px 94px;
  }
}
.item-services__image {
  aspect-ratio: 476/471;
  border-radius: 100% 100% 0px 0px;
}
.item-services__body {
  margin: 0 20px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  margin-top: -68px;
}
@media (min-width: 1279.98px) {
  .item-services__body {
    padding: 35px 15px;
    margin-top: -85px;
    min-height: 200px;
  }
}
.item-services__body .hidden {
  display: none;
}
.item-services__body-promo {
  display: grid;
  justify-items: center;
  gap: 17px;
}
.item-services__title {
  font-size: 2.6rem;
  line-height: 1.265;
  min-height: 54px;
  display: flex;
  align-items: center;
}
.item-services__btn {
  padding: 10px 37px;
}
.item-services__body-info {
  display: grid;
  justify-items: center;
  gap: 10px;
}
.item-services__info {
  line-height: 1.26517;
}
@media (min-width: 1279.98px) {
  .item-services__info {
    font-size: 2rem;
  }
}
.item-services__price {
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
}
.item-services__price::after {
  content: " р";
}
@media (min-width: 1279.98px) {
  .item-services__price {
    font-size: 1.4rem;
  }
}

.sertificate {
  color: var(--dark-color-text);
  background-color: #D6BF7C;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 767.98px) {
  .sertificate {
    padding-top: 72px;
  }
}
@media (min-width: 1279.98px) {
  .sertificate {
    padding-top: 85px;
    padding-bottom: 88px;
  }
}
@media (min-width: 1279.98px) {
  .sertificate__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.sertificate__content {
  display: grid;
  justify-items: center;
  margin-bottom: 52px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .sertificate__content {
    margin-bottom: 85px;
  }
}
@media (min-width: 1279.98px) {
  .sertificate__content {
    text-align: left;
    justify-items: start;
    margin-bottom: 0;
  }
}
@media (min-width: 1700px) {
  .sertificate__content {
    padding-right: 54px;
  }
}
.sertificate__title {
  margin-bottom: 20px;
}
@media (min-width: 767.98px) {
  .sertificate__title {
    font-size: 6rem;
  }
}
@media (min-width: 1279.98px) {
  .sertificate__title {
    text-align: left;
    font-family: Montserrat;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.265;
    margin-bottom: 10px;
  }
}
.sertificate__text {
  margin-bottom: 20px;
}
@media (min-width: 767.98px) {
  .sertificate__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 1279.98px) {
  .sertificate__text {
    margin-bottom: 48px;
  }
}
.sertificate__image {
  position: relative;
  text-align: end;
}
.sertificate__image img {
  width: 93.023255814%;
  aspect-ratio: 2/1;
}
.sertificate__image::before {
  content: "";
  display: block;
  width: 27.6162790698%;
  aspect-ratio: 335/167;
  background-color: #956469;
  border-radius: 200px 200px 0 0;
  rotate: 323deg;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(5%, -41%);
}
@media (min-width: 767.98px) {
  .sertificate__image {
    padding-right: 20px;
  }
  .sertificate__image img {
    width: 88.0886426593%;
  }
  .sertificate__image::before {
    width: 25%;
    transform: translate(16%, -25%);
  }
}
@media (min-width: 1279.98px) {
  .sertificate__image {
    padding-right: 0;
    padding-top: 20px;
  }
  .sertificate__image img {
    width: 93%;
  }
  .sertificate__image::before {
    width: 27%;
    transform: translate(6%, -50%);
  }
}

.contacts {
  padding-top: 56px;
  padding-bottom: 47px;
}
@media (min-width: 1279.98px) {
  .contacts {
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .contacts__container {
    padding: 0 35px;
  }
}
@media (min-width: 1279.98px) {
  .contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 0;
    position: relative;
  }
  .contacts__container::before {
    content: "";
    display: block;
    width: 33.3333333333%;
    aspect-ratio: 335/167;
    background-color: var(--light-accent-color);
    border-radius: 200px 200px 0 0;
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    max-width: 295px;
  }
}
.contacts a {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .contacts a:hover {
    opacity: 0.7;
  }
}
.contacts__body {
  margin-bottom: 25px;
}
@media (min-width: 767.98px) {
  .contacts__body {
    margin-bottom: 19px;
  }
}
@media (min-width: 1279.98px) {
  .contacts__body {
    margin-bottom: 0;
    padding-top: 175px;
    padding-bottom: 265px;
    padding-left: 15px;
    max-width: 857px;
    width: 100%;
    justify-self: end;
  }
}
.contacts__title {
  margin-bottom: 37px;
}
@media (min-width: 1279.98px) {
  .contacts__title {
    font-family: Montserrat;
    font-size: 7.6rem;
    font-weight: 400;
    line-height: 1.265;
    text-align: left;
    margin-bottom: 92px;
  }
}
.contacts__item {
  display: flex;
  gap: 5px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 767.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts__item-icon {
  flex: 0 0 21px;
  text-align: center;
  position: relative;
  transform: translateY(3px);
}
@media (min-width: 767.98px) {
  .contacts__item-icon {
    flex: 0 0 56px;
  }
  .contacts__item-icon._icon-mail:before {
    font-size: 19px;
  }
  .contacts__item-icon._icon-maps:before {
    font-size: 28px;
  }
  .contacts__item-icon._icon-phone:before {
    font-size: 24px;
  }
  .contacts__item-icon._icon-time:before {
    font-size: 24px;
  }
}
.contacts__link_location:link {
  text-decoration-line: underline;
}
.contacts__map {
  position: relative;
  width: 100%;
  aspect-ratio: 344/293;
}
.contacts__map > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 1279.98px) {
  .contacts__map {
    height: 100%;
    aspect-ratio: auto;
  }
}
.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
